/* Main CSS */

body {
  margin: 0;
  padding: 0;
  font-family: 'HK_Grotesk_Regular', sans-serif;
}

#root {
  position: relative;
}

.App {
  text-align: center;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}


/* new page styles */

.LoginRegister {
  position: relative;
  background: url(/assets/background.png);
  background-size: cover;
  min-height: 620px;
  height: calc(100vh - 186px);
  padding: 100px 15px 0 15px;
}

header {
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.fa-bars.menu{
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: #1993EF;
  margin-right: 10px;
}

.fa-bars:before {
  color: #fff;
  font-size: 26px;
}

.strapline {
  position: absolute;
  top: 115px;
  left: 60px;
  z-index: 1;
}

.form-box {
  /* position: absolute;
  right: 10%;
  top: 20%; */
  /* padding-top: 100px; */
  margin-left: auto;
  margin-right: 50px;
  max-width: 550px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 8px rgba(0,0,0, 0.2);
  border-radius: 0;
}

.titleLogin, .titleRegister, .titleHeader {
  background: #3596f4;
  padding: 10px;
  border-radius: 0 0 0 0;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  cursor: pointer;
}

.titleRegister {
  border-radius: 0 0 0 0;
}

.active-bgr {
  background: #1993EF;
}

.titleLogin i:before, .titleRegister i:before {
  font-size: 26px;
  font-weight: bold;
}

.forms {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 10px;
}

.forms label {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
}

.forms input {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 34px;
  border-radius: 0;
  border: 1px solid #c6c5c5;
  font-size: 16px;
  padding-left: 12px;
  margin-top: 8px;
  outline: none;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
}

.forms input:focus {
  border: 1px solid #1993EF
}

.forms>label:first-child {
  margin-top: 0;
}

.btn-box {
  text-align: right;
  margin-top: 25px;
}

.btn-box button {
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}


.btn-box button i {
  margin-right: 12px;
}

.social-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 10px 0px 10px;
}

.social-box a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  background: #0095ec;
  border-radius: 0;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}

.social-box>a:last-child {
  margin-top: 15px;
}

.social-box a i {
  cursor: pointer;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: #195da9;
  margin-right: 10px;
  border-radius: 0;
  font-size: 18px;
}

.fa-twitter.bgr{
  background: #2879A5;
}

.or {
  color: #7f898f;
  text-align: center;
  margin: 0;
  margin-top: 25px;
}

.cancel {
  background: #e35252;
  color: #fff
}

.succes {
  background: #3596f4;
  border: 1px solid #3596f4;
  color: #fff;
}

  .succes:hover {
    background: #fff;
    color: #3596f4;
  }

.forgotten {
  float: left;
  line-height: 43px;
  display: inline-block;
  font-size: 13px;
}

.footer {
  /* position: absolute;
  bottom: 0; */
  background: #fff;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer p {
  color: #676767;
  font-size: 14px;
}

.footer-img {
  max-width: 240px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media all and (max-width: 974px) {
  .strapline {
    top: 70px;
    left: 50px;
  }

  .form-box {
    margin: 0 auto;
    margin-top: 172px;
  }
}

@media all and (max-width: 375px) {

  .strapline {
    margin: 0 0 0 20px;
    left: 0;
    right: 0;
    max-width: 300px;
    height: auto;
    top: 58px;
  }

  .LoginRegister {
    padding-bottom: 30px;
    padding-top: 130px;
    height: auto;
  }

  .form-box {
    max-width: 360px;
  }

  .footer {
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
  }

}

@media all and (max-width: 320px) {
  .form-box {
    max-width: 310px;
  }
}


/* Terms and Conditions Modal */

.remodal-wrapper {
  padding: 0;
  display: flex;
  align-items: center;
}

.remodal {
  height: 90%;
  padding: 0;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  display: table-cell;
  text-align: left;
}

  .remodal .modal__header {
    background: #3596f4;
    padding: 10px;
    color: #fff;
  }

    .remodal .modal__header button {
      right: 0;
      left: auto;
    }

      .remodal .modal__header button:before {
        color: #fff;
        line-height: 40px;
      }

  .remodal .modal__footer {
    height: 80px;
  }

  .remodal .modal__content,
  .remodal .modal__footer {
      position: absolute;
  }

  .remodal .modal__content {
    bottom: 80px;
    top: 40px;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 20px;
  }

  .remodal .modal__footer {
    bottom: 0;
    width: 100%;
  }

    .remodal .btn-box {
      text-align: center;
      width: 100%;
    }

      .remodal .btn-box button {
        display: inline-block;
      }
